<!DOCTYPE html>
<html>

<head>
    <title>Forgot Password</title>
    <link rel="stylesheet" href="styles.css">
</head>

<body class="login-page">
    <div class="Loginmain">
        <div class="LoginHeader">
            <h4>Forgot Password</h4>
            <div class="blank-space"></div>
        </div>

        <!-- Forgot Password Form -->
        <form action="/forgot-password" method="POST">
            <input type="email" name="email" placeholder="Enter your email" required>
            <button type="submit" class="Loginbutton">Send Reset Link</button>
			 <div class="Loginlink">
			<p>Back to login page <a href="/login" class="create-account">Login Page</a></p>
			</div>
        </form>

        <% if (errorMessage) { %>
        <p style="color: red;"><%= errorMessage %></p>
        <% } %>

        <% if (successMessage) { %>
        <p style="color: green;"><%= successMessage %></p>
        <% } %>

    </div>
</body>

</html>
