
<% title = 'Menu' %>

<div class="container">
    <h1 class="header">Raga Liabrary</h1>
    
    <div class="menu">
        <button onclick="window.location.href='/raga'" class="menu-button">Ragas</button>
        <button onclick="window.location.href='/tala'" class="menu-button">Talas</button>
        <button onclick="window.location.href='/search'" class="menu-button">Search</button>
        <button onclick="window.location.href='/logout'" class="menu-button">Logout</button>
    </div>
</div>
